extends ./components/base

block head
  link(rel='stylesheet', href='/stylesheets/engine.css')

block body
  #siteContainer
    header
      span.logo= appTitle
      span.spacer
      span.logo
        a(href=urls.gui.root.login title="Login")
          img(src="/images/logo.png" alt=appTitle width="32px")
    
    #pageContainer
      p Redirect to frontend after 5 seconds
