extends components/base

block head
  link(rel='stylesheet', href='/stylesheets/engine.css')
  meta(http-equiv="Refresh" content="0; url='https://www.settle.gg'")

block body
  #siteContainer
    header
      span.logo Settle
      span.spacer
      span.logo
        a(href=urls.gui.root.login title="Login")
          img(src="/images/logo.png" alt=appTitle width="32px")
    
    #pageContainer
      p #[a(href="https://www.settle.gg") Click here] to return to the game.
