extends ../../engine/views/components/container

include ../../engine/views/components/form.mixins.pug

block header
  link(rel='stylesheet', href='/stylesheets/custom-styles.css')

block content
  .container: .row: .col-sm
    h3 Management Console
    form(method="POST" action=baseURL+urls.gui.manage.form)
      .row
        +buttonInput(
          'updateSet', null, 'Update All', null, null,
          null, 'Update set list:', 'Re-download set list from database',
          '_action', 'submit'
        )
        +buttonInput(
          'addSet', setList, 'Add', null, null,
          null, 'Add set:', 'Download cards from selected set',
          '_action', 'submit'
        )
        +buttonInput(
          'removeSet', cardSets, 'Remove', null, null,
          null, 'Remove set:', 'Delete all cards from selected set',
          '_action', 'submit'
        )
        
      .row
        +buttonInput(
          'newGame', 'date', 'Create', null, (new Date()).toJSON().slice(0,10),
          null, 'Create game:', 'Generate a new game for the selected date',
          '_action', 'submit'
        )
        .input-group.vertical.button-input
          label.tooltip(for="game" aria-label="Select a game to edit or delete") Pick a game:
          .button-group
            +typedInp("game", gameList)
            input.button#_actionEdit(  type="submit" value="Edit"   name="_action")
            input.button#_actionDelete(type="submit" value="Delete" name="_action")
      
      .row
        .input-group.vertical.button-input
          label.tooltip(for="cleanup" aria-label="Cleanup database, skipping any checked options") Cleanup DB:
          .button-group
            +checkboxes("cleanup", ["setCards", "cardImages", "games"], "Skip")
            input.button#_actionClean(type="submit" value="Clean" name="_action")

      if csrfToken
        span: +formInput('_csrf', 'hidden', null, csrfToken)
