extends ../../../engine/views/components/container

//- BLOCKS:
  block head (from base)
    block header (in HTML <head> tags)

  block body (from base)
    block content (in container between header/footer)
    block scripts (at end of body)